<div class="tour-log-container">
  <h3>Tour Logs</h3>

  <p *ngIf="vm.filteredLogs().length === 0">
    No logs for the selected tour.
  </p>

  <div class="log-card" *ngFor="let log of vm.filteredLogs()">
    <p><strong>Date:</strong> {{ log.dateTime }}</p>
    <p><strong>Rating:</strong> {{ log.rating }}</p>
    <p><strong>Difficulty:</strong> {{ log.difficulty }}</p>
    <p><strong>Comment:</strong> {{ log.comment }}</p>

    <button (click)="vm.deleteLog(log.id!)">Delete</button>
  </div>
</div>